<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Virtual Assistant Support</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/styles/body.css" rel="stylesheet">
    <link href="/static/styles/speech.css" rel="stylesheet">
    <link href="/static/styles/container.css" rel="stylesheet">
    <link href="/static/styles/modal.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="mainContainer">
        <div class="msgerheader">
            <span id="msg-header-label">Virtual Assistant Support for DHVSU Porac Campus</span>
        </div>
        <div class="msgerContainer">
            <main class="msgerChat">
                <!-- Speech Bubbles here -->
            </main>
        </div>
        <div class="soundDetector">
            <p id="sound-detection-text">
                <!-- Any warning or sound detected text here -->
            </p>
        </div>
        <div class="msgerFooter">
            <a id="startBtn">
                <i id="micIcon" class="fa fa-microphone-slash fa-beat"></i>
                <p>Mic</p>
            </a>
            <a id="questionBtn" onclick="document.getElementById('id01').style.display='block'">
                <i id="questionModalIcon" class="fa fa-question-circle-o"></i>
                <p>FAQs</p>
            </a>
        </div>
        <div class="labelFooter">
            <p id="labelBelowMic">Enable the microphone and start speaking!</p>
        </div>
    </div>
    <div id="id01" class="modal">
        <div class="modal-content">
            <header class="modal-header">
                <span onclick="closeModal()" class="close"><i class="fas fa-times"></i></span>
                <h2>Frequently Asked Questions</h2>
            </header>

            <div class="tab">
                <button class="tablink active" onclick="openCategory(event, 'Category1')">Category 1</button>
                <button class="tablink" onclick="openCategory(event, 'Category2')">Category 2</button>
                <button class="tablink" onclick="openCategory(event, 'Category3')">Category 3</button>
                <button class="tablink" onclick="openCategory(event, 'Category4')">Category 4</button>
            </div>

            <div id="Category1" class="tabcontent">
                <h1>Category 1</h1>
            </div>

            <div id="Category2" class="tabcontent">
                <h1>Category 2</h1>
            </div>

            <div id="Category3" class="tabcontent">
                <h1>Category 3</h1>
            </div>

            <div id="Category4" class="tabcontent">
                <h1>Category 4</h1>
            </div>

            <div class="modal-footer">
                <button class="close-btn" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>

</body>
<!-- partial -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script> -->
<staticContent>
    <remove fileExtension=".json" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
</staticContent>
<!-- <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script> -->
<script src="/static/scripts/main.js"></script>

</html>