:root {
    --msg-bubble: rgb(99, 180, 207, 0.3);
    --msg-bubble-right: rgb(99, 180, 207, 0.6);
    --gradient-bg: rgb(134, 102, 13);
    --transparent-02: rgb(99, 180, 207, 0.2);
    --linear-gradient-bg: linear-gradient(90deg, rgba(134, 102, 13, 1) 8%, rgba(22, 91, 86, 1) 30%, rgba(4, 32, 73, 1) 64%)
}

.mainContainer {
    width: 770px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.msgerheader {
    border-radius: 20px 20px 0 0;
    height: 60px;
    font-size: 21px;
    background-color: var(--transparent-02);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.soundDetector {
    background-color: var(--transparent-02);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: white;
}

.msgerFooter {
    height: 110px;
    background-color: var(--transparent-02);
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.msgerContainer {
    background-color: var(--transparent-02);
    height: 480px;
    overflow-y: scroll;
}

.msgerChat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msgerChat::-webkit-scrollbar {
    width: 6px;
}

.msgerChat::-webkit-scrollbar-track {
    background: #ddd;
}

.msgerChat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.labelFooter {
    display: block;
}

#labelBelowMic {
    background-color: var(--transparent-02);
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#micIcon {
    margin-top: 7px;
}

#startBtn {
    padding: 9px;
}

#startBtn:hover {
    cursor: pointer;
    background-color: #30819c;
    border: 1px solid #30819c;
    color: red;
}

#questionBtn {
    padding: 9px;
}

#questionBtn:hover {
    cursor: pointer;
    background-color: #30819c;
    border: 1px solid #30819c;
}

#questionModalIcon {
    margin-top: 7px;
    cursor: pointer;
    font-size: 55px;
}

.fa.fa-microphone-slash {
    cursor: pointer;
    font-size: 55px;
}

.fa.fa-microphone {
    font-size: 55px;
    color: #660000;
    cursor: pointer;
}

.fa.fa-microphone-slash:hover {
    color: red;
}

.fa.fa-microphone:hover {
    color: red;
}