:root {
    --msg-bubble: rgb(99, 180, 207, 0.3);
    --msg-bubble-right: rgb(99, 180, 207, 0.6);
}

.username {
    color: white;
}

.msg-container {
    background-color: var(--msg-bubble);
    border-radius: 15px 15px 15px 0;
    padding: 10px;
    margin: 10px 0;
}

.msg-container-right {
    border-color: #ccc;
    background-color: var(--msg-bubble-right);
    border-radius: 15px 15px 0 15px;
    text-align: right;
}

.msg-container::after {
    content: "";
    clear: both;
    display: table;
}

.msg-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.msg-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #cccccc
}

.time-left {
    float: left;
    color: #cccccc
}

.loader {
    float: right;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.speaking-indicator {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 10px;
}

.speaking-indicator span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ccc;
    animation: typing 1s infinite;
}

.speaking-indicator span:nth-child(2) {
    animation-delay: 100ms;
}

.speaking-indicator span:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes typing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}